# Joonweb App Credentials
JOONWEB_CLIENT_ID=your_client_id_here
JOONWEB_CLIENT_SECRET=your_client_secret_here
JOONWEB_API_VERSION=26.0
JOONWEB_APP_NAME="My Premium App"
APP_URL=https://your-ngrok-url.com

# Database Configuration
DB_DRIVER=sqlite
# DB_HOST=127.0.0.1
# DB_NAME=joonweb_app
# DB_USER=root
# DB_PASS=
